.booksPage {

  &__first {
    padding: 40px 0;

    h1 {
      font-weight: 600;
      font-size: 36px;
      color: #19272E;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      color: #19272E;
    }
  }

  &__second {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;

    button {
      border: 1px solid #818EEA;
      border-radius: 8px;
      background: transparent;
      width: 160px;
      height: 37px;
      font-weight: 400;
      font-size: 13px;
      color: #818EEA;
      cursor: pointer;

      span {
        font-weight: 700;
        font-size: 14px;
        color: #818EEA;
      }
    }
  }

  &__third {

    h2 {
      font-weight: 600;
      font-size: 22px;
      color: #19272E;
    }

    a {
      font-weight: 400;
      font-size: 14px;
      color: #818EEA;
    }

    &--main {
      padding: 20px 0;
    }
  }

  &__fourth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    float: left;
    padding: 20px 30px 0 0;

    img {
      padding: 10px 5px;
    }

    h3 {
      text-align: right;
    }

    &--blok {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
    }
  }

  &__fifth {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 24px;

    img{
      padding: 20px 0;
    }

    h1 {
      font-weight: 700;
      font-size: 18px;
      color: #19272E;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #19272E;
    }
  }
}